<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div >
    <div th:fragment="index-template" class="wrap">
	    <div class="index-column index-col1">
	    	<div class="grv-logo">GRooVEMR</div>
	    	<div class="login"></div>
	    </div>
	    <div class="index-column index-col2">
	    	<div class="grv-logo">&nbsp;</div>
		    <div class="frontpage"></div>
	    </div>
	    <div class="index-column index-col3"></div>
		<div class="grvinfo"></div>
		<div class="language"></div>
    </div>
</div>
</body>
</html>