<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="index-template">
    <div class="wrap d-flex">
		<div class="container-fluid">
  			<div class="row">
			    <div class="col-sm one d-flex flex-wrap align-content-center login">
			    	<div class="mycontainer3">
			    		aaaaaaaaaaaaaaaaaaaaa
			    	</div>
			    	<div class="mycontainer1">
			    		aaaaaaaaaaaaaaaaaaaaa
			    	</div>
			    </div>
			    <div class="col-sm two d-flex flex-wrap align-content-center frontpage">
			    <div class="mycontainer2">
			    	<div class="message">aaaaaaaaaaaaaaaaaaaaa</div>
			    	<div class="message">aaaaaaaaaaaaaaaaaaaaa</div>
			    	<div class="message">aaaaaaaaaaaaaaaaaaaaa</div>
			    	
			    	
			    	
			    	</div>
			    </div>
			    <div class="col-sm three">&nbsp;</div>
			</div>
			
		</div>
		
		
		<div class="grv ">made by grv</div>
	
    </div>
</div>
</body>
</html>