/*comon*/
.wrap{position:absolute;left:0px;top:0px;height:100%;width:100%;margin:0;min-width:1024px;min-height:700px;background-color:#fefefe;}
/* index 3 columns grid*/
.index-page{display:flex;flex-direction:row;flex-wrap:nowrap;justify-content: flex-start;align-items:stretch;}
.index-coloana{flex:1 0;}
.index-col1{width:40%;height:100%;display:flex;flex-wrap:nowrap;flex-direction: column;justify-content:center;align-items:center;}
.index-col2{width:40%;height:100%;display:flex;flex-wrap:nowrap;flex-direction: column;justify-content:center;align-items:center;}
.index-col3{width:20%;height:100%;}



/* user page grid*/
.user-page{display:flex;flex-direction:column;}
.grv-header{flex:1;max-height:40px;background-color:#ffffff;display:flex;flex-direction:row;}
.grv-header > div {flex:1;}
.grv-main{flex:1;}

.grv-menubtn{
	max-width:30px;
	background-color:pink;
	font-size:1.35rem;
	height:100%;
	padding:8px;
	justify-content:center;
	
}

.grv-header .grv-logo{
	max-width:100px;
	background-color:cyan;
	height:100%;
	padding:10px;
	font-size:1.1rem;
}

.grv-header .grv-search{
	
	background-color:green;
	height:100%;
	min-width:300px;
}

.grv-header .grv-settings{
	max-width:30px;
	background-color:grey;
	font-size:1.35rem;
	height:100%;
	padding:8px;
	justify-content:center;
	right:0px;
}


.grv-pils .navbar {
  background-color: #3b5998;
  font-size: 22px;
  padding: 5px 10px;
}

/* Define what each icon button should look like */
.grv-pils .button {
  color: white;
  display: inline-block; /* Inline elements with width and height. TL;DR they make the icon buttons stack from left-to-right instead of top-to-bottom */
  position: relative; /* All 'absolute'ly positioned elements are relative to this one */
  padding: 2px 5px; /* Add some padding so it looks nice */
}

/* Make the badge float in the top right corner of the button */
.grv-pils .button__badge {
  background-color: #fa3e3e;
  border-radius: 3px;
  color: white;
 
  padding: 1px 3px;
  font-size: 10px;
  
  position: absolute; /* Position the badge within the relatively positioned button */
  top: 0;
  right: 0;
}