.grv-logo{display:block;width:80%;min-width:400px;height:100px;background-color:grey;}
.index-coloana{flex:1 0;}
.index-col1{width:40%;height:100%;background-color:red;display:flex;flex-wrap:nowrap;flex-direction: column;justify-content:center;align-items:center;}
.index-col2{width:40%;height:100%;background-color:yellow;}
.index-col3{width:20%;height:100%;background-color:blue;}