.grv-login-container{width:100%;height:100%;display:block;padding:0; margin:0 auto;background-color:#efefef;max-width:500px;}
.grv-subscribe-container{width:100%;height:100%;display:block;padding:0; margin:0 auto;background-color:#efefef;max-width:500px;}
.grv-forgot-container{width:100%;height:100%;display:block;padding:0; margin:0 auto;background-color:#efefef;max-width:500px;}
.grv-login-container .grv-widget{padding:3px;}
.grv-login-container .grv-login{margin:0 auto;max-width:500px;}
.grv-login-container .grv-subscribe{width:50%;padding:0.75rem 1.25rem;display:inline-block;}
.grv-login-container .grv-forgot{width:50%;padding:0.75rem 1.25rem;text-align:right;display:inline-block;}


/*
.grv-login .alert[style='']+input{
	background-color:red;
}

.grv-login .alert[style='']{
	display:none;
}
*/





