html{font-size:14px;font-family:Courier New,Helvetica, Arial !important;}
body{margin:0;display:block;width:100%;height:100%;}
.wrap{position:absolute;left:0px;top:0px;height:100%;width:100%;margin:0;min-width:1024px;min-height:700px;display:flex;flex-direction:row;flex-wrap:nowrap;justify-content: flex-start;align-items:stretch;background-color:#fefefe;}
.grvinfo{position:fixed;right:10px;bottom:10px;width:50px;height:50px;background:url('/images/logo.png') center center no-repeat;background-size: 90% 90%;}
.shadow{
	-webkit-box-shadow: 6px 7px 21px -4px rgba(92,88,92,0.82);
	-moz-box-shadow: 6px 7px 21px -4px rgba(92,88,92,0.82);
	box-shadow: 6px 7px 21px -4px rgba(92,88,92,0.82);
}
.border{
	border:1px solid #4d4d4d;
}

/*COMMON TO ALL ELEMENTS THAT HAS grv as class*/
.grv .alert{
	padding:2px;
	font-size:0.7rem;
	margin:2px;
}
.grv .panel-footer, .card-footer {text-align: right;background-color:transparent;border:none;padding:0.5rem 1.0rem;}
.grv .has-error input{border:1px solid red;}
.grv .form-control{border:1px solid #cdcdcd;}
.grv .form-control:focus{box-shadow:none;border:1px solid #4d4d4d;}
.grv .btn-secondary{margin-right:10px;}
.grv .sv_complete_btn{background-color:black;color:#ffffff;}